<template name="sponsors">
  <h2>Sponsors</h2>
  <p>
    This is a page to give a special thanks to the people that helped support mPlanner. 
  </p>
    <ul>
    <li><a href="http://www.rocket21.com/">Rocket 21</a></li>
  </ul>
    <ul>
    <li><a href="https://www.facebook.com/barbara.keilson">Barbara Kielson</a></li>
  </ul>
      <ul>
      <li><a href="http://therehabcontinuum.com/">David Turner</a></li>
  </ul>
    <ul>
    <li><a href="https://twitter.com/jkubicki">Joshua Kubicki</a></li>
  </ul>

    <ul>
    <li><a href="https://twitter.com/bfeld">Brad Feld</a></li>
  </ul>
  <ul>
    <li><a href="http://www.linkedin.com/in/skipmiddleton">Skip Middleton</a></li>
  </ul>
    <ul>
    <li><a href="https://twitter.com/xero6">Dewayne Greenwood</a></li>
  </ul>
  <ul>
    <li><a href="http://differential.io/">Differential</a></li>
  </ul>
</template>
