<template name="footer">
   <footer>
	<div class="navbar navbar-fixed-bottom" id="footer">
      <div class="container">
        © Emerson Walker LLC 2013
	    </div>
	    <div class="container">
		    <div class="navbar navbar-nav navbar-right" id="navbar-link1">
		    	<a href="mailto:emersongwalker@gmail.com">Contact Us</a>
		    </div>
		    <div class="navbar navbar-nav navbar-right" id="navbar-link2">
		    	<a href="http://www.mplanner.co/blog">Blog</a>
		    </div>
		</div>
	</div>

  </footer>



</template>