<template name="home">
  <div id="home">
    <div class="billboard">
      <div class="container">
        <div class="intro-box">
          <h1>mPlanner</h1>
          <h2>The digital organizer for students</h2>
          <h3>
            <a  href="/sign-up">Sign up</a>
            or
            <a  href="/sign-in">sign in</a>
            to start. Free for students.
          <h3>
        </div>
        <img class="iphone-mockup" src="img/mplanner-mockup.png" alt="mPlanner">
      </div>
    </div>
    <div class="content">
      <div class="container">
        <div class="span8 description">
          <h3>Bringing school assignments to your tablet.</h3>
          <p>mPlanner allows students to stay organized by providing an efficient and easy-operation organizer that integrates school assignments from Schoology with your Google calendar.</p>
          <p>Parents can optionally monitor and support student planning decisions.</p>
      </div>
    </div>
  </div>
</template>
