#news-title, #welcome-title, #welcome-body {
	text-align: center;
}

#welcome-title, #welcome-body {
	margin-top: 20px;
}

#content #news {
	margin-left: 20px;
	margin-right: 20px;
}

#news {
	margin-right: 400px;
}

#title {
	text-align: center;
}

#footer {
	margin-bottom: 10px;
}

#navbar-link1 {
	margin-right: 10px;
}

#navbar-link2 {
	margin-right: 40px;
}

#login-buttons {
  float: right;
  margin-top: 15px;
  margin-right: 20px;
}
